@use '../abstracts' as v;

.part1, .part3, .part5 {
    background-color: v.$theme_color !important;
    color: #fff !important;
}

.part2 {
    background: url(../img/showcase.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
